---
layout: page
title: MARCOS VINÍCIUS
subtitle: DESENVOLVEDOR WEB E ESTUDANTE DE T.I.
---

<main>
    <!-- Quem sou -->
    <div class="row" id="about">
        <div class="col-12">
            <h1>Olá mundo!</h1>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-10 col-md-3 mx-auto d-block">
                    <img src="assets/images/cartoon-purple.gif" alt="Logo" class="img-fluid" data-aos="fade-up">
                </div>
                <div class="col-12 col-md-1"></div>
                <div class="col-12 col-md-8 p-3 text-justify" data-aos="fade-up">
                    <p>
                        Meu nome é Marcos e tenho 21 anos. Sou formado em técnico de Informática para Internet e atualmente estou cursando Análise e Desenvolvimento de Sistemas. Segue abaixo algumas outras informações.
                    </p>
                       <div class="col-12 p-1">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <i class="fa fa-laptop icon text-purple"></i>
                                <span>Estudante de T.I.</span>
                                <br><br>
                                <i class="fa fa-map-marked-alt icon text-purple"></i>
                                <span>Lorena, São Paulo</span>
                                <br><br>
                                <i class="fa fa-envelope icon text-purple"></i>
                                <span>marcosvst98@gmail.com</span>
                                <br><br>
                            </div>
                            <div class="col-12 col-md-6">
                                <i class="fas fa-language text-purple"></i>
                                <span>Inglês intermediário</span>
                                <br><br>
                                <i class="fa fa-file-pdf icon text-purple"></i>
                                <span>&nbsp; Currículo &ensp; <a
                                        href="https://drive.google.com/file/d/1-nu-EmJoJGiMjM-Sly9cS5L4nDoRG2wZ/view?usp=sharing"
                                        target="_blank" class="badge bg-purple">Ver on-line</a></span>
                                <br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <!-- Conhecimentos -->
    <div class="row">
        <div class="col-12 text-left">
            <h3>Conhecimentos</h3>
            <div class="line-bottom"></div>
            <br />
            <div class="container">
                <div class="row p-2 text-secondary icons" style="font-size: 3rem;">
                    <i class="fab fa-html5 m-4" data-toggle="tooltip" data-placement="top" title="HTML 5" data-aos="fade-up"></i>
                    <i class="fab fa-css3 m-4" data-toggle="tooltip" data-placement="top" title="CSS 3" data-aos="fade-up"></i>
                    <i class="fab fa-js-square m-4" data-toggle="tooltip" data-placement="top" title="JavaScript" data-aos="fade-up"></i>
                    <i class="fab fa-linux m-4" data-toggle="tooltip" data-placement="top" title="Linux" data-aos="fade-up"></i>
                    <i class="fab fa-node m-4" data-toggle="tooltip" data-placement="top" title="Node.js" data-aos="fade-up"></i>
                    <i class="fab fa-vuejs m-4" data-toggle="tooltip" data-placement="top" title="Vue.js" data-aos="fade-up"></i>
                    <i class="fab fa-microsoft m-4" data-toggle="tooltip" data-placement="top" title="C# ASP.NET Web Forms" data-aos="fade-up"></i>
                    <i class="fas fa-database m-4" data-toggle="tooltip" data-placement="top" title="SQL e PL/SQL" data-aos="fade-up"></i>
                    <i class="fab fa-git-square m-4" data-toggle="tooltip" data-placement="top" title="Git" data-aos="fade-up"></i>
                    <i class="fab fa-java m-4" data-toggle="tooltip" data-placement="top" title="Java" data-aos="fade-up"></i>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <!-- Portfolio -->
    <div class="row" id="portfolio">
        <div class="col-12">
            <h1>Portfolio</h1>
            <hr>
            <div class="scroll-overflow" data-aos="fade-up">
                <div class="row flex-nowrap">

                    {% for portfolio_item in site.portfolio %}
                    <div class="col-12 col-md-3">
                        <div class="card">
                            <img src="{{ portfolio_item.img }}" class="card-img-top" alt="{{ portfolio_item.title }}">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong>{{ portfolio_item.title }}. </strong>
                                    {{ portfolio_item.desc }}
                                </p>
                                <div class="row">
                                    <div class="col-6">
                                        <a href="{{ portfolio_item.link }}" target="_blank"
                                            class="btn-outline-purple">VER MAIS</a>
                                    </div>
                                    <div class="col-6 text-right">
                                        <span class="badge badge-info">{{ portfolio_item.tec}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <!-- Blog -->
    <div class="row" id="blog">
        <div class="col-12">
            <h1>Blog</h1>
            <hr>
            <div class="scroll-overflow" data-aos="fade-up">
                <div class="row flex-nowrap">

                    <div class="col-12 col-md-3">
                        <p>Ainda não existe nenhum post</p>
                    </div>
                    <!-- {% for post in site.posts %}
                    <div class="col-12 col-md-3">
                        <div class="card">
                            <img src="{{ post.img }}" class="card-img-top" alt="{{ post.title }}">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong>{{ post.title }}. </strong>
                                    {{ post.desc }}
                                </p>
                                <div class="row">
                                    <div class="col-6">
                                        <a href="{{ post.url }}" class="btn-outline-purple">VER MAIS</a>
                                    </div>
                                    <div class="col-6 text-right">
                                        <span class="badge badge-info">{{ post.subject}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %} -->

                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <!-- Contato -->
    <div class="row" id="contato">
        <div class="col-12">
            <h1>Contato</h1>
            <hr>
        </div>
        <div class="container" data-aos="fade-right">
            <div class="row">
                <div class="col-12 col-md-7 p-3">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <input type="text" class="form-control " id="nome" placeholder="Nome" disabled>
                            </div>
                            <div class="col-12 mb-3">
                                <input type="email" class="form-control " id="email" aria-describedby="emailHelp"
                                    placeholder="E-mail" disabled>
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="form-control " id="assunto" placeholder="Assunto" disabled>
                            </div>
                            <div class="col-12 mb-3">
                                <textarea class="form-control " id="mensagem" rows="3"
                                    placeholder="Mensagem" disabled></textarea>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn bg-purple btn-block" disabled>Enviar mensagem</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col-12 col-md-4 mx-auto d-block" data-aos="fade-up">
                    <img src="assets/images/3046-me-at-office.gif" alt="Contact" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</main>
<br>