---
layout: page
---
<main>
    <!-- Quem sou -->
    <div class="row" id="about">
        <div class="col-12">
            <h2>Saudações!</h2>
            <hr>
        </div>
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8 p-3 text-justify" data-aos="fade-up">
                        {{ content }}
                    </div>
                    <div class="col-12 col-md-3 mx-auto d-block bg-blog mt-3">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>